<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Luftreise</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @if (Context.Session.GetString("UserIsAdmin") == "Admin")
    {
        <a asp-controller="Account" asp-action="UsersList">Адмін панель</a>
    }
</head>
<body>
    <header class="header"> 
         <div class="header-container">
             <div class="logo">
                <span class="logo-icon">✈</span>
                <span class="logo-text">Luftreise</span>
             </div>
        <nav class="nav">
            <a href="/" class="active">Головна</a>
            <a href="@Url.Action("Index", "Home")#popularFlights">Рейси</a>
            <a href="#">Про нас</a>
        </nav>
            <div class="profile">
                @if (Context.Session.GetString("UserEmail") != null)
                {
                    <a asp-controller="Account" asp-action="Profile" class="profile-btn">
                        <span class="profile-icon">👤</span>
                        Профіль
                    </a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login" class="profile-btn">
                        <span class="profile-icon">👤</span>
                        Увійти
                    </a>
                }
            </div>
    </header>
    @RenderBody()
    <footer class="footer">
        <div class="footer-container">

            
            <div class="footer-brand">
                <h2>Luftreise</h2>
                <p>Подорожуйте світом легко та комфортно</p>
            </div>

           
          
            
            <div class="footer-column">
                <h4>Підтримка</h4>
                <a href="#">Допомога</a>
                <a href="#">Умови</a>
            </div>

           
            <div class="footer-column">
                <h4>Контакти</h4>
                <p>Email: support@luftreise.com</p>
                <p>Тел: +380 95 010 340</p>
            </div>

        </div>

        <div class="footer-bottom">
            © 2026 Luftreise. Всі права захищені.
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
    @if (TempData["SuccessMessage"] != null)
    {
        <div id="toast">
            @TempData["SuccessMessage"]
        </div>
    }
    <script>
        setTimeout(() => {
            const toast = document.getElementById("toast");
            if (toast) toast.style.display = "none";
        }, 3000);
    </script>

    
</body>
</html>